$fa-font-path: "../fonts/font-awesome";
$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Colors */

$stibat-green: #d3d600;

$navbar-default-color:	#fff !default;
$navbar-default-bg:	$stibat-green !default;
